<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de notícias</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br/>
		<form action="/noticias/salvar" method="post">
			<label for="">Titulo</label>
			<input type="text" id="titulo"	name="titulo" placeholder="Título danotícia">
			<br/>
			<label for="">Noticia</label>
			<textarea name="noticia" id="noticia" cols="30" rows="5" cols="30"></textarea>
			<br/>
			<input type="submit" name="" id="" value="Enviar">
		</form>

	</body>
</html>