<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>  
			<title>notícia</title>
		</head>
	<body>

		<h1>Notícias</h1>
		<table>

			<tr>
				<td>Id noticia</td>
				<td>Tituto</td>
				<td>noticia</td>
			</tr>
			<tr>
				<td><%= noticia[0].id_noticia %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>
			</tr>
		</table>


	</body>
</html>